/* Reset some basic elements */
body, h1, h2, h3, p, ul, li, article {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #005792;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 20px 5%;
    margin: 20px 0;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

article {
    margin-bottom: 20px;
}

article h3 {
    font-size: 1.5em;
    color: #005792;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    header h1, header p {
        padding: 0 10px;
    }
}
